.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #5c9ed7;
  margin: 15px 0;
  padding: 5px;
  border-radius: 5px;
}

.text {
  text-align: "left";
  flex-grow: 1;
  padding: "0 10px";
}
